* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


a {
    text-decoration: none;
    color: black;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(204, 204, 176);
    height: 7vh;
    align-items: center;
}

nav a {
    font-family: sans-serif;
    font-size: 2rem;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}


.mainIndex {
    display: flex;
    justify-content: space-between;
    background-color: beige;
}

.mainIndex h1 {
    padding: 35vh 0 3vh 10vw;
    color: rgb(204, 204, 176);
    font-size: 8rem;
    font-family: sans-serif;
}

.mainIndex h2 {
    padding: 0 0 0 10vw;
    color: rgb(204, 204, 176);
    font-size: 3rem;
    font-family: sans-serif;
    font-style: italic;
}

.mainIndex img {
    height: 100vh;
    object-fit: contain;
    object-position: center;
}